*, ::before, ::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(53, 168, 206), lightgreen);
}
.calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(197, 226, 236);
}
button:hover{
    background-color: rgba(250, 250, 250, 0.9);
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1 / -1;
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.previous{
    color: antiquewhite;
    font-size: 1.5rem;
}
.current{
    font-size: 2.5rem;
}